{% extends 'base.html.twig' %}
{% block title %}Lucky number{% endblock %}
{% block bodyproper %}
<h1>Your lucky number is {{ number }} selected from the range from 0 to {{ max }}</h1>
{% endblock %}
