{% extends 'base.html.twig' %}

{% block title %}Edit IUser{% endblock %}

{% block bodyproper %}
    <h1>Edit IUser</h1>

    {{ include('i_user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('i_user_index') }}">back to list</a>

    {{ include('i_user/_delete_form.html.twig') }}
{% endblock %}
